html, body{
    height: 100%;
    margin:0;
}
#calculator{
    height: 500px;
    width: 310px;
    background-color:orange;
    margin: auto;
    margin-top:120px;
}

#keys{
    margin-top:11px;
}

#mainScreen{
    position: relative;
    width: 90%;
    height: 50px;
    color:black;
    background-color:red;
    margin: 0 auto;
    text-align: right;
    top:13px;
}

ul{
    display: inline-block;
}

h1{
    margin:0;
    padding-top: 6px;
}
li{
    display: inline;
    width:10px;
    height: 10px;
}

.operations{
    display: inline;
}

#numbersSection{
    width: 75%;
    height: 100px;
    display: inline-block;
}

#operationSection{
    display: inline-block;
    width: 23%;
    
}

#numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 100px);
    grid-gap:3px;
    padding-left:15px;
}

#operations{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(4, 100px);
    grid-gap:3px;
    padding-top:15px;
    padding-right:12px;
}

.digits, .operations{
    display: contents;
}