html, body{

    height: 100%;
    margin: 0;

}

#calculator{

    height: 435px;
    width: 310px;
    background-color: #3d3737;
    box-shadow: 2px 2px 0px 0px #acc2c1,
                3px 3px 0px 0px #acc2c1,
                4px 4px 0px 0px #acc2c1,
                5px 5px 0px 0px #acc2c1,
                6px 6px 0px 0px #acc2c1,
                7px 7px 0px 0px #acc2c1,
                8px 8px 0px 0px #acc2c1;
    border-radius: 10px;
    margin: auto;
    margin-top: 120px;

}

#keys{

    margin-top: 11px;

}

#mainScreen{

    position: relative;
    width: 90%;
    height: 50px;
    color: black;
    background-color: #f9f9fa;
    border-radius: 5px;
    margin: 0 auto;
    text-align: right;
    top: 13px;
    margin-bottom:40px;
    padding-bottom: 2px;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);

}

ul{

    display: inline-block;

}

li{

    display: inline;

}

.operators{

    display: inline;
    
}

#numbersSection{

    width: 75%;
    height: 100px;
    display: inline-block;

}

#operationSection{

    display: inline-block;
    width: 23%;
    
}

#numbers{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 80px);
    grid-gap: 3px;
    padding-left: 15px;

}

#operations{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 80px);
    grid-gap: 3px;
    padding-right: 15px;

}

.digits, .operators{

    display: contents;

}

button{
    
    color:white;
    width:60px;
    height:70px;
    background-color: #a5b5b6;
    border-radius: 20px;
    border-style: none;
    font-size: 30px;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.75);

}

h4, h1{

    margin:0;
    margin-right:4px;

}

#preResultDisplay{

    height: 20px;

}
